.header {
  display: flex;
  padding: 2rem 0;
  align-items: center;
  justify-content: space-between;
  max-width: 100%;
  top: 0;
  position: relative;
  background-color: var(--color-white);
  z-index: 1;
  // margin-bottom: 40px;
  // position: sticky;
  // top: 0;
  // position: -webkit-sticky;
  // background-color: var(--color-white);
  // z-index: 1;
  // &::before {
  //   content: "";
  //   position: absolute;
  //   z-index: -1;
  //   height: 100%;
  //   width: 100vw;
  //   border-bottom: 0.1rem solid black;
  //   background-color: var(--color-white);
  //   top: 0.1rem;
  // }
  // &__logoNav {
  //   display: flex;
  //   justify-content: space-between;
  //   gap: 40px;
  //   width: 100%;
  // }
  &__navReg {
    display: flex;
    width: 100%;
    transition: var(--transition-timing);
    background-color: var(--color-white);
  }
  &__logoBox {
    display: flex;
    gap: 10px;
    align-items: center;
    width: 30%;
  }
  &__toggle {
    display: none;
  }
  &__checkbox {
    display: none;
  }
}
.logo,
.navigation__list,
.register {
  display: flex;
  align-items: center;
}
.navigation {
  // width: 100%;
  display: flex;
  justify-content: center;
  // transition: var(--transition-timing);
  // background-color: var(--color-white);
  &__list {
    gap: 40px;
    font-size: var(--font-size-16);
    color: var(--color-text);
  }
}
.logo {
  gap: 10px;
  &__text {
    font-size: var(--font-size-20);
    color: var(--color-blue);
    font-weight: var(--font-weight-medium);
  }
  &__img {
    width: 35px;
    height: 35px;
  }
}
.register {
  display: flex;
  width: 100%;
  gap: 20px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  &__link {
    color: var(--color-blue);
    font-size: var(--font-size-16);
    font-weight: var(--font-weight-medium);
    text-decoration: none;
  }
  &__link:active,
  &__link:hover {
    text-decoration: underline;
  }
}
.signup {
  color: var(--color-signUp);
  border: 1px solid var(--signUp-border);
  padding: 13px 45px;
  border-radius: 50px;
}
.navigation__link:visited,
.navigation__link:link {
  text-decoration: none;
}
.navigation__link:active,
.navigation__link:hover {
  text-decoration: underline;
}
.container:has(#about:target) .navigation__about,
.container:has(#features:target) .navigation__features,
.container:has(#pricing:target) .navigation__pricing,
.container:has(#testimonials:target) .navigation__testa,
.container:has(#help:target) .navigation__help {
  color: var(--color-blue);
  font-weight: var(--font-weight-bold);
  text-decoration: underline;
  transform: scale(1.3);
}
