@media (max-width: 1050px) {
  html {
    font-size: 8px;
  }
  .container {
    row-gap: 8rem;
  }
  p {
    line-height: 1.7;
  }
  h2 {
    line-height: 1.7;
  }
  .section {
    grid-template-columns: 1fr;
    padding: 0;
  }
  // Start Intro
  .intro {
    column-gap: 30px;
    &__heading {
      font-size: var(--font-size-40);
      line-height: 1.6;
    }
    &__btn {
      padding-inline: 50px;
      margin-top: 40px;
    }
    &__img {
      max-width: 80%;
    }
  }
  // Start counter
  .counter {
    max-width: 90%;
    &__column {
      justify-content: center;
      align-items: center;
      &:not(:last-child)::after {
        height: 120px;
        left: 200px;
        top: -25px;
      }
    }
    &__img {
      width: 40px;
      height: 40px;
    }
    &__countImg {
      font-size: var(--font-size-24);
    }
    &__count {
      font-size: var(--font-size-20);
    }
  }
  // End counter
  // End Intro
  // Start Features
  .features {
    column-gap: 20px;
    &__text {
      display: flex;
      flex-direction: column;
      gap: 20px;
      justify-content: start;
      align-items: start;
    }
    &__img {
      max-width: 85%;
    }
    &__heading {
      max-width: 85%;
    }
    &__list {
      gap: 10px;
    }
    &__item {
      gap: 10px;
    }
    &__image {
      width: 20px;
      height: 20px;
    }
    &__p {
      max-width: 100%;
    }
    &__para {
      width: 80%;
      margin-top: 10px;
    }
  }
  // End Features
  // Start Plan
  .plan {
    &::before {
      width: 100vw;
    }
  }
  .categories {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    justify-self: center;
    align-self: center;
    &__column {
      padding-inline: 60px;
      padding-block: 50px;
      border-radius: 10px;
    }
    &__btn {
      margin-top: 120px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    &__select {
      padding: 13px 40px;
    }
  }
  .last {
    margin-top: -40px;
  }
  // End Plan
}
@media (max-width: 850px) {
  .section__flex {
    flex-direction: column;
  }
  .container {
    row-gap: 8rem;
  }
  p {
    line-height: 1.7;
  }
  h2 {
    line-height: 1.7;
  }
  .section {
    grid-template-columns: 1fr;
    padding: 0;
  }
  // Start Header
  .header {
    &__navReg {
      max-width: 100%;
      gap: 50px;
    }
    &__logoBox {
      width: 50%;
    }
  }
  .navigation {
    &__list {
      gap: 20px;
    }
  }
  .logo {
    &__img {
      width: 30px;
      height: 30px;
    }
  }
  .register {
    width: 100%;
    gap: 30px;
  }
  .signup {
    border: none;
    padding: 0;
    border-radius: 0;
  }
  // End header
  // Start Intro
  .intro {
    column-gap: 30px;
    &__heading {
      font-size: var(--font-size-40);
      line-height: 1.6;
    }
    &__btn {
      padding-inline: 50px;
      margin-top: 40px;
    }
    &__img {
      max-width: 100%;
    }
  }
  // Start counter
  .counter {
    max-width: 95%;
    &__column {
      justify-content: center;
      align-items: center;
      &:not(:last-child)::after {
        height: 120px;
        left: 180px;
        top: -25px;
      }
    }
    &__img {
      width: 35px;
      height: 35px;
    }
    &__countImg {
      font-size: var(--font-size-22);
    }
    &__count {
      font-size: var(--font-size-18);
    }
  }
  // End counter
  // End Intro
  // Start Features
  .features {
    column-gap: 20px;
    &__text {
      display: flex;
      flex-direction: column;
      gap: 20px;
      justify-content: start;
      align-items: start;
    }
    &__img {
      max-width: 100%;
    }
    &__heading {
      max-width: 90%;
    }
    &__list {
      gap: 10px;
    }
    &__item {
      gap: 10px;
    }
    &__image {
      width: 20px;
      height: 20px;
    }
    &__p {
      max-width: 100%;
    }
    &__para {
      width: 90%;
      margin-top: 10px;
    }
  }
  // End Features
  // Start Plan
  .plan {
    width: 100%;
    &::before {
      width: 100%;
    }
  }
  .categories {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 240px);
    gap: 20px;
    justify-self: center;
    align-self: center;
    &__column {
      padding-inline: 25px;
      padding-block: 50px;
      border-radius: 10px;
    }
    &__btn {
      margin-top: 120px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    &__select {
      padding: 13px 40px;
    }
  }
  .last {
    margin-top: -40px;
  }
  // End Plan
  // Start WorldGlobal
  .global {
    &__images {
      max-width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    &__image {
      display: flex;
    }
  }
  // End WorldGlobal
  // Start Testamonials
  .testamonials {
    width: 100%;
    &__columns {
      display: flex;
      gap: 10px;
    }
    &__column {
      padding: 10px;
      width: 100%;
    }
    &__heads {
      display: flex;
      justify-content: space-between;
      margin-bottom: 20px;
      gap: 20px;
    }
    &__box {
      gap: 20px;
      margin-bottom: 10px;
    }
    &__nameImage {
      width: 40px;
      height: 40px;
    }
    &__info {
      display: flex;
      flex-direction: column;
      width: 100%;
    }
    &__country {
      font-size: var(--font-size-14);
      font-weight: var(--font-weight-regular);
    }
    &__columnRating {
      display: flex;
      align-items: center;
      gap: 10px;
    }
    &__content {
      line-height: 1.6;
    }
    &__slider {
      display: flex;
      justify-content: space-between;
      width: 100%;
    }
    &__points {
      width: 100%;
    }
    &__arows {
      display: flex;
      justify-content: end;
      width: 100%;
    }
    &__arrow {
      width: 40px;
      height: 40px;
    }
    &__arrowRight {
      width: 100px;
      height: 100px;
      margin-top: -20px;
    }
  }
  // End Testamonials
  // Start Footer
  .footer {
    &__subscribe {
      width: 70%;
      padding: 20px 25px;
    }
    &__btn {
      padding: 17.5px 25px;
      width: fit-content;
    }
    &__content {
      display: flex;
      justify-content: space-around;
      position: relative;
      width: 100%;
    }
    &__grid {
      display: grid;
      grid-template-columns: repeat(3, 100px);
      column-gap: 25px;
    }
  }

  // End Footer
}

@media (max-width: 500px) {
  .section {
    padding: 0;
  }
  .header {
    padding: 10px 0;
    margin-bottom: 40px;
    &__checkbox {
      display: none;
    }
    &__toggle {
      display: block;
    }
    &__navReg {
      opacity: 0;
      visibility: hidden;
      transition: opacity 0.3s ease-out;
      flex-direction: column;
      gap: 10px;
      position: absolute;
      top: 35px;
      padding: 2rem 0;
      width: 100vw;
      border-bottom: 0.1rem solid var(--color-text);
      background-color: var(--color-white);
      z-index: -1;
      transition: var(--transition-timing);
    }
  }
  .logo {
    gap: 10px;
    &__text {
      font-size: var(--font-size-20);
    }
    &__img {
      width: 25px;
      height: 25px;
    }
  }
  .navigation__list {
    gap: 20px;
    justify-content: center;
  }
  .burger-menu {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    align-self: center;
    cursor: pointer;
    z-index: 0;
    // margin-right: 20px;
  }
  .register {
    display: flex;
    width: 100%;
    &__link {
      color: var(--color-blue);
      font-size: var(--font-size-16);
      font-weight: var(--font-weight-medium);
      text-decoration: none;
    }
    &__link:active,
    &__link:hover {
      text-decoration: underline;
    }
  }
  .signup {
    color: var(--color-signUp);
    border: none;
    padding: 0;
    border-radius: 0;
  }
  .burger-menu__bar {
    height: 0.3rem;
    width: 4.375rem;
    background-color: var(--color-black);
    transition: var(--transition-timing);
  }
  .header:has(.header__checkbox:checked) .burger-menu__bar:nth-child(1) {
    transform: translateY(10px) rotate(40deg);
  }
  .header:has(.header__checkbox:checked) .burger-menu__bar:nth-child(2) {
    opacity: 0;
    visibility: hidden;
  }
  .header:has(.header__checkbox:checked) .burger-menu__bar:nth-child(3) {
    transform: translateY(-7px) rotate(-40deg);
  }
  .header__checkbox:checked ~ .header__navReg {
    opacity: 1;
    visibility: visible;
  }
  .section__flex {
    display: flex;
    flex-direction: column;
  }
  .container:has(#about:target) .navigation__about,
  .container:has(#features:target) .navigation__features,
  .container:has(#pricing:target) .navigation__pricing,
  .container:has(#testimonials:target) .navigation__testa,
  .container:has(#help:target) .navigation__help {
    color: var(--color-blue);
    font-weight: var(--font-weight-regular);
    text-decoration: none;
    transform: none;
  }
  // Start Intro
  .intro {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    &__text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    &__heading {
      font-size: var(--font-size-22);
      line-height: 10px;
    }
    &__para {
      margin-top: 20px;
      text-align: center;
    }
    &__btn {
      margin: 20px 0 30px;
    }
    &__image {
      max-width: 100%;
      order: -1;
      margin-bottom: 30px;
    }
  }
  // Start Counter
  .counter {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    gap: 30px;
    &::after {
      height: 130px;
      left: 10px;
      top: 30px;
      width: 100%;
    }
    &__column {
      display: flex;
      gap: 10px;
      position: relative;
      &:not(:last-child)::after {
        height: 80px;
        left: 100px;
        top: -20px;
      }
    }
    &__img {
      width: 35px;
      height: 35px;
    }
    &__countBox {
      display: flex;
      flex-direction: column;
    }
    &__countImg {
      font-size: var(--font-size-18);
    }
    &__count {
      font-size: var(--font-size-18);
      margin-top: -8px;
    }
  }
  // End Counter
  // End Intro
  // Start Features
  .features {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &__img {
      max-width: 100%;
    }
    &__para {
      text-align: center;
      margin: 0 auto;
    }
    &__text {
      gap: 10px;
      width: 100%;
    }
    &__list {
      gap: 10px;
      padding-left: 20px;
      margin-top: 20px;
    }
    &__item {
      gap: 10px;
    }
    &__image {
      width: 17px;
      height: 17px;
    }
    &__heading {
      text-align: center;
      margin: 20px auto 0;
    }
  }
  // End Features
  // Start Plan
  .plan {
    display: grid;
    padding-block: 10px;
    position: relative;
    width: 100%;
    z-index: 1;
    &::before {
      content: "";
      position: absolute;
      height: 100%;
      width: 100vw;
      background-color: #f8f8f8;
      justify-self: center;
      z-index: -1;
    }
    &__heading {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: 30px;
      text-align: center;
      margin-bottom: 40px;
      width: 100%;
    }
    &__title {
      margin-bottom: 10px;
    }
    &__text {
      width: 100%;
    }
  }
  .categories {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    &__column {
      width: 90%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding-inline: 30px;
      padding-block: 40px;
    }
    &__item {
      gap: 10px;
      margin-bottom: 10px;
    }
    &__btn {
      margin-top: 80px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    &__head {
      margin-top: 10px;
      font-size: var(--font-size-24);
    }
    &__info {
      font-size: var(--font-size-24);
    }
  }
  .column__list {
    margin-left: 20px;
  }
  .column__title {
    font-size: var(--font-size-20);
  }
  // End Plan
  // Start World Global
  .global {
    &__text {
      margin-bottom: 30px;
    }
    &__para {
      width: 100%;
    }
    &__img,
    &__image {
      max-width: 100%;
    }
  }
  // End World Global
  // Start Testamonials
  .testamonials {
    margin-bottom: 0;
    &__title {
      font-size: var(--font-size-25);
      width: 100%;
      line-height: 1.6;
    }
    &__text {
      width: 100%;
    }
    &__columns {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 40px;
      width: 100%;
      margin-bottom: 20px;
    }
    &__column {
      width: 90%;
      border: 2px solid var(--border-secodColor);
      padding: 30px 20px;
      border-radius: 10px;
    }
    &__slider {
      display: none;
    }
    .firstActive {
      border-color: var(--color-button);
    }
  }
  // End Testamonials
  // Start Footer
  .footer {
    margin-top: 80px;
    &__subscribe {
      display: flex;
      justify-content: space-between;
      margin-bottom: 60px;
      background-color: var(--color-white);
      width: 95%;
      height: 160px;
      border-radius: 10px;
      margin-top: -50px;
      margin: -50px auto 50px;
      padding: 20px ;
    }
    &__text {
      width: 100%;
      font-size: var(--font-size-24);
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
    &__title {
      font-size: var(--font-size-20);
      line-height: 1.7;
      width: 80%;
    }
    &__subpara {
      line-height: 1.7;
      width: 60%;
    }
    &__btn {
      padding: 17.5px 20px;
      width: 200px;
      height: 50px;
    }
    &__logo {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
    &__content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    &__grid {
      column-gap: 20px;
    }
    &__copy {
      margin-top: -10px;
    }
  }
}
// End Footer
